:root{
  --green1: #036628;
  --green2: #104d38;
}
.App {
  text-align: center;
}
.background{
  background-color: #fcfcfc;

}
p{
  color: #666;
  font-size: 1.125rem;
  line-height: 1.77778;
  margin: 0px;
  text-align: left;
}
h1{
  color:black;
  font-size: 2.625rem;
  line-height: 1.28571;
  padding-bottom: 1.875rem;
  padding: 0 0 .9375rem;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
}
h3{
  color:black;
  font-size: 1.125rem;
  line-height: 1.44444;
  padding: 0;
  font-weight: 500;
  margin:0px;
}
/* .content{
  width: 900px;
  margin: auto;
  background-color: white;
  min-height: calc(100vh - 70px);
  box-shadow: 5px 9px 11px 0px black;
} */

.hover-cover{
  position: absolute;
  height: 0px;
  transition: 100ms;
  overflow: hidden;
  background-color: rgb(3, 102, 40.623);
  border-top: 5px solid var(--green2);
}

.FA-icon svg{
  width: 100% !important;
  height: 100% !important;
}

.main-button{
  background-color: var(--green1) !important;
  color: white !important;
  font-size: 1.3em !important;
}

.content-body{
  display:flex;
  margin:auto;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 900px;
  background-color: white;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}

.content-table-head{
  width: 100%;
}

.header-flex{
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  height: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 7px 7px 7px 7px;
  background-color: var(--green1);
  color: white;
  padding-left: 0px;
}
.header-flex h3{
  color:white;
}

@media screen and (max-width: 600px){
  .content-body{
    width: inherit;
  }
}