.expand-box{
    transition: 600ms;
}

.lesson-container{
    margin-top: 50px;
    height: calc(100vh - 190px);
}

.lesson-container h3{
    margin-top:0px;
    margin-left:30px;
}

.lesson-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.lesson-list{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: scroll;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.lesson-list .add-attachment{
    right: 35px;
}
.lesson-item-container{
    min-width: 300px;
    max-width: 500px;
    height: fit-content;
    margin-top: 25px;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    border-right: 0;
    cursor: pointer;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: white;
}
.lesson-item-container *{
    text-decoration: none;
}
.lesson-item-container.rounded-left{
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
}
.lesson-item-container.rounded-right{
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.lesson-item-container.hovered{
    box-shadow: 0 0 2px var(--green1) !important;
}
.lesson-item-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 155px;
}
.lesson-toolbar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
}
.lesson-item-info{
    flex:1 1;
    padding-left:15px;
    padding-right:15px;
    font-size: 1.125rem;
    line-height: 1.55556;
}
.lesson-item-name{
    margin: 0;
    text-align: left;
}
.lesson-item-name h3{
    margin:0;
}
.lesson-item-description{
    max-height: 130px;
    overflow-y: scroll;
}
@media only screen and (max-width:600px){
    .lesson-item-info{
        font-size: .9rem;
        line-height: 1.4;
    }
    .lesson-item-info p{
        font-size: .9rem;
        line-height: 1.4;
    }
}
.lesson-item-toolbar{
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: var(--green1);
    color:white;
    
}

.lesson-toolbar-right{
    display: inline-block;
}
.lesson-toolbar-left{
    display: inline-block;
}
.lesson-item-img{
    width: 150px;
}
.lesson-item-svg{
    width: 75px;
    height: 75px;
    margin: auto;
}
.lesson-item-icon{
    color: var(--green2);
}

.lesson-item-cover{
    position: absolute;
    height: 100px;
    width:0px;

}
.lesson-item-cover.hovered{
    width: 100px;
    height: 100px;
}